#container_commands:
#  01_syncdb:    
#    command: "django-admin.py syncdb --noinput"
#    leader_only: true
option_settings:
  "aws:autoscaling:launchconfiguration":
    EC2KeyName: "freyes@c3p0.lan"
    SSHSourceRestriction: "tcp, 22, 22, 0.0.0.0/0"
  "aws:elasticbeanstalk:environment":
    EnvironmentType: SingleInstance  # LoadBalanced
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "app/wsgi.py"
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "app.settings"
    AWS_SECRET_KEY: MYKEY
    AWS_ACCESS_KEY_ID: MYID
    ENV_NAME: ebs
packages:
  yum:
    mysql-devel: []
    gcc: []
    python-devel: []
    readline-devel: []
    patch: []