#container_commands:
#  01_syncdb:    
#    command: "django-admin.py syncdb --noinput"
#    leader_only: true
option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: "freyes@c3p0.lan"
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SSHSourceRestriction
    value: "tcp, 22, 22, 0.0.0.0/0"
  - namespace: aws:elasticbeanstalk:environment
    option_name: EnvironmentType
    value: SingleInstance  # LoadBalanced
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: "app/wsgi.py"
  - option_name: DJANGO_SETTINGS_MODULE
    value: "app.settings"
  - option_name: AWS_SECRET_KEY
    value: MYKEY
  - option_name: AWS_ACCESS_KEY_ID
    value: MYID
  - option_name: ENV_NAME
    value: ebs
packages:
  yum:
    mysql-devel: []
    gcc: []
    python-devel: []
    readline-devel: []
