{% extends "layout.html" %}
{% load widget_tweaks %}
{% block body %}
    <!-- container -->
    <div class="container">

        <div class="row">
            <div class="eight columns centered">
                <h2>Framework Todo</h2>
            </div>
        </div>

        <div class="row">
            <div class="eight columns centered">

                {# NEW TASK #}
                <form action="{% url task_index %}" method="post">
                    {% csrf_token %}
                    {% if not form.description.errors %}
                        {{ form.description|attr:'placeholder="Type task &amp; hit enter."' }}
                    {% else %}
                        {{ form.description|attr:'placeholder="Type task &amp; hit enter." class="error"' }}
                        {% for error in form.description.errors %}
                            <small class="error">{{ error }}</small>
                        {% endfor %}
                    {% endif %}
                </form>

                {# TASKS #}
                {% for task in tasks %}
                    <div class="task{% if form.completed %} is-completed{% endif %}">
                        {# MARK COMPLETED #}
                        {% comment %}
                         <div class="task-status">
                            <form class="form-completed" action="" method="POST">
                                {% csrf_token %}
                                {% if form.completed %}
                                    <button class="checked" type="submit" name="task_completed" value="false" tabindex="-1">&radic;</button>
                                {% else %}
                                    <button type="submit" name="task_completed" value="true" tabindex="-1">&radic;</button>
                                {% endif %}
                            </form>
                        </div>
                        {% endcomment %}

                        {# UPDATE DESCRIPTION #}
                        <div class="task-description">
                            <form class="form-description" action="{% url task task.id %}" method="POST">
                                {% csrf_token %}
                                {{ task.description }}
                            </form>
                        </div>

                        {# DELETE #}
                         <div class="task-remove">
                            <form action="{% url task task.id %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="_method" value="DELETE" />
                                <button type="submit" tabindex="-1">&times;</button>
                            </form>
                        </div>
                    </div>

                {% endfor %}

                {% comment %}
                {% if uncompleteCount > 0 %}
                    <p>
                        <strong>{{ uncompleteCount }}</strong> Left.
                    </p>
                {% endif %}
                {% endcomment %}
            </div>
        </div>

    </div>
    <!-- container -->
{% endblock %}